*:not(.frase) {
    font-family: 'Oswald', sans-serif;
}


section{
    position:absolute;
    top: 0px;
    left: 0;
    right: 0;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #00152A, #001F3F 35%, #eae8e1 85%, #ffffff); /* Azul arriba, blanco abajo */
}

    .titles{
    width: 70%;
    text-align: center;
    color: white;

    }
        .title{
            font-family: 'Bebas Neue', sans-serif;
            font-size: 80px;
            font-style: normal;
            font-weight: 700;
        }
        .subtitle{
            font-family: 'Oswald', sans-serif;
            margin-top: 40px;
         font-size: 25px;
        }


p{
    font-family: 'Josefin Sans', sans-serif;
    text-align: right;
    margin-right: 400px;
}

.frase{
    font-family: 'Josefin Sans';            
    margin-top: 40px;
    font-size: 30px;
}

.cartel{
    position:absolute;
    top: 1000px;
    left: 0;
    right: 0;
    height: 1000px;
    background-color: rgb(255, 255, 255);
    color: white;
    display: flex;
    justify-content: space-between;
}

.partel{
    position:absolute;
    top: 2000px;
    left: 0;
    right: 0;
    height: 1000px;
    background-color: rgb(157, 5, 5);
    color: white;
    display: flex;
    justify-content: space-between;
}


.description{
    display: flex;
    margin: 40px;
    margin-left: 300px;
    margin-top: 100px;
    justify-content: space-around;
    align-items: center;
}

.logo2{
    width: 300px;
    margin-right: 300px;
}


.slides{
    position: absolute;
    top:3000px;

}


footer{
    position: absolute;
    top: 4000px;
    left: 0;
    right: 0;
    padding: 110px;
    color: white;
    height: 800px;
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: space-evenly;
}

.contacts{
    width: 700px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title-contacts{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
    margin-bottom: 10px;
    margin-left: 0px;
}

form{
    margin-top: 30px;
}
input{
    margin: 20px;
    border-radius: 10px;
    width: 400px;
    height: 20px;
    font-size: 30px;
    padding: 15px;
}

textarea{
    margin: 20px;
    margin-top: 30px;
    width: 600px;
    height: 100px;
    font-size: 30px;
    padding: 15px;
    border-radius: 10px;
}

.logo3{
    width: 300px;
    margin-top: 230px;
}

.image3{
    width: 300px;
}

.button{
    background-color: rgb(157, 5, 5);
    border-radius: 10px;
    width: 200px;
    height: 80px;
    margin-left: 200px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    transition: transform 0.2s ease;

}
 
.button:hover {
    transform: scale(1.1);
}

label{
    font-size: 30px;
    margin-right: 20px;
}

.label-email{
    margin-right: 50px;
}





@media (max-width: 430px) {

    header{
        height: 80px;
    }

    .logo{
        width: 60px;
        margin-left: 10px;
        border-radius: 40px;
    }
    
    .home{
        background-color: rgb(157, 5, 5);
        width: 100px;
        height: 80px;
        margin-top: 2px;
        margin-right: 0px;

    }

    .title{
        font-size: 30px;
    }

    .subtitle{
        font-size: 25px;
    }

    .grid-images{
        padding: 12px;
        margin-top: 25px;
        width: 90%;
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        gap:5px
    }

    .imagen_mosaico{
        width: 180px;
        height: 260px;
    }

    .logo2{
        width: 0px;
    }

    .cartel{
        top: 1400px;
        padding-top: 130px;
        height: fit-content;
    }

    .description{
        margin: 0;
        margin: 9%;
        height: 400px;
    }

    footer{
        margin: 0;
        top: 2100px;
    }
    .image3{
        width: 0px;
    }
    .tit-description{
        text-align: center;
    }
    .sub-description{
        text-align: center;
        width: 300px;
    }

    .title-contacts{
        font-size: 30px;
    }

    form{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    
    }

    input{
        margin: 10px;
        width: 310px;
    }

    textarea{
        width: 300px;
    }

    label{
        font-size: larger;
    }

    .button{
        margin-right: 0;
        width: 120px;
    }

}