
<header>
    <div>
        <img src="assets/logo.svg" alt="imagen del logo" class="logo">
    </div>
    <button class="home">HOME</button>    
</header>

<section>
    <div class="titles">
        <div class="title">FUNDACIÓN CIUDADANOS EN ACCIÓN</div>
        <div class="subtitle"><i>"Una buena cabeza y un buen corazón 
          son siempre una combinación formidable"<br><br><p>Mandela</p></i> </div>
    </div>
</section>

<div class="box-images">
    <div class="grid-images">
    <img class="imagen_mosaico" src="assets/image1.png" alt="imagen 1">
    <img class="imagen_mosaico" src="assets/image2.png" alt="imagen 2">
    <img class="imagen_mosaico" src="assets/image3.png" alt="imagen 3">
    <img class="imagen_mosaico" src="assets/imagen4.jpg" alt="imagen 4">
    </div>
</div>

<div class="cartel">
    <div class="description">
        <div class="title tit-description">SOMOS</div>
        <div class="subtitle sub-description">Ciudadanos que promovemos verdad en base
              a una responsabilidad contra la lucha social
        </div>
    </div>
    <img src="assets/logo3.svg" alt="" class="logo2">
</div>

<footer>
    <div class="contacts">
    
        <div class="title-contacts">CONTACTANOS</div>

        <form>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required><br>

            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required><br>
        
            <label for="email" class="label-email">Email:</label>
            <input type="email" id="email" name="email" required><br><br><br>
        
            <label for="mensaje">Mensaje:</label>
            <textarea id="mensaje" name="mensaje" rows="4" required></textarea><br>
        
            <input type="submit" value="ENVIAR" class="button">
        </form>
        
    </div>
    <div class="logo3">
        <img class="image3" src="assets/logo2.svg" alt="imagen de logo de la fundacion">
    </div>
</footer>  
