/* slider.component.css */

.news {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
}

.Noti .title {
        font-size: 100px; 
        font-family: 'Bebas Neue', sans-serif;        
        margin-bottom: 10px;
        font-weight: 700px;
}

.slider-container {
    margin-top: 50px;
    margin-left: 550px;
    text-align: center;
    position: relative;
    width: 80%;
    max-width: 800px;
}

.slider-btn {
    position: absolute;
    top: 50%;
    font-size: 24px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
}

.prev-btn {
    left: 20px;
}

.next-btn {
    right: 20px;
}

.slide {
    display: none;
    flex: 0 0 100%;
    text-align: center;
    padding: 20px;
}

.slide.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slide img {
    margin-bottom: 15px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.slide-text {
    font-family: 'Oswald', sans-serif;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 200;
}


@media (max-width: 768px) {
    .slider-container {
        text-align: center;
    }

    .slider {
        display: block; 
    }

    .slide {
        width: 100%; 
        margin-right: 0; 
    }

    .slider-controls {
        margin-top: 10px; 
    }

    .slider-btn {
        font-size: 20px; 
    }
}

